<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--
    The only purpose of this file is to allow me to use a normal MVC controller/view
    within Sitecore to showcase the API calls. It was this or have you install a package
    so you had a page to visit. Given I don't need Expereince Editor functionality and
    I wanted to make this as simple as possible, I decided to go this route.
    -->
    <settings>
      <setting name="IgnoreUrlPrefixes">
        <!--
        Define an exception so we can access our DemoSiteController (outside of Sitecore)
        -->
        <patch:attribute name="value">/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/Sitecore8-ServicesClient</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <initialize>
        <!--
        Define routes to our DemoSiteController
        -->
        <processor type="Sitecore8.ServicesClient.Pipelines.Loader.InitializeDemoSiteRoutes, Sitecore8.ServicesClient"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>