<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--
    For more information on any/all of these settings, please see the web.config
    (or associative patch file) that was included in your installation. Each of
    these settings has been documented within those files. 
    -->
    <settings>
      <!--
      Allow access from all origins
      This simply makes us able to query the information from any source. Not a
      good idea in a prod. environment, but for the purpose of making this demo
      simple I've enabled it.
      Feel free to change this and see the outcome in the demos.
      -->
      <setting name="Sitecore.Services.SecurityPolicy">
        <patch:attribute name="value">Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure</patch:attribute>
      </setting>
      
      <!--
      Allow access to all
      This allows us to access the API without authenticaticating first. Again,
      a big no-no in prod. but I'm after simplicity.
      Feel free to change this and see the outcome in the demos.
      -->
      <setting name="Sitecore.Services.AllowAnonymousUser">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <initialize>
        <!--
        Allow access to the API from off-site (through JavaScript)
        With this enabled, you'll be able to use/view http://jsfiddle.net/b39yokvs/
        -->
        <processor type="Sitecore8.ServicesClient.Pipelines.Loader.EnableCorsGlobally, Sitecore8.ServicesClient"
                   patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>