<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <!--
      ReadOnlyDataProvider
      
      Here we define our new provider as well as the arguments of the ctor
      
      productRepository  - Our external data source (when a type is specified, Sitecore will
                           use relfection and create an instance and pass it in for us. Keep
                           in mind it requires a parameterless ctor to do so.
      contentDatabase    - Database to target.
      productsTemplateId - Containing template ID.
      productTemplateId  - Individual entry template ID.
      -->
      <productDataProvider type="ReadOnlyDataProvider.WebUI.ProductDataProvider, ReadOnlyDataProvider.WebUI">
        <param hint="productRepository" type="ReadOnlyDataProvider.WebUI.Services.ProductRepository, ReadOnlyDataProvider.WebUI" />
        <param hint="contentDatabase">master</param>
        <param hint="productsTemplateId">{8E168B4E-9DA5-436B-8B32-06742469904A}</param> 
        <param hint="productTemplateId">{D0357D3B-6F11-47CB-9E43-9CED15EA8B95}</param>
      </productDataProvider>
    </dataProviders>
    <databases>
      <!--
      ReadOnlyDataProvider
      
      Here we tell sitecore about the provider we created above, and that it should be used.
      -->
      <database id="master">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/productDataProvider" patch:before="*[1]"/>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>
