<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
      In case you want to change the path to the API, do so here.
      <setting name="Sitecore8.WebAPI.RouteBase" value="api/" />
      -->
    </settings>
    <pipelines>
      <initialize>
        <processor type="Sitecore8.WebAPI.Pipelines.Loader.InitializeWebAPIRoutes, Sitecore8.WebAPI" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
